.main{
    padding: 10px;
}
.h1 {
    text-align: center;
    color: whitesmoke; 
}
.listContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 20px;
}
.link {
    text-decoration: none;
}
.link:hover {
    opacity: 0.8;
}

@media (max-width: 539px) {
    .listContainer {
        grid-template-columns: 100%;
    }
}